---
---

@import "{{ site.theme }}";
.page-header .project-name {
  font-size: 1.9rem;   // smaller than default
  font-weight: 600;
}

.page-header .project-tagline {
  font-size: 1.2rem; // bigger than default
  font-weight: 500;
  opacity: 1;        // remove faded look
}
.main-content {
  text-align: justify;
  table {
  font-size: 14px;
  }
}
.page-header {
  color: #fff;
  text-align: center;
  background-color:#e85c05;
  background-image: linear-gradient(120deg, #009246, #ffffff, #ce2b37); 
  color: #222;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
}

$italy-green: #009246;
$italy-red: #ce2b37;

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $italy-green;
}

a {
  color: $italy-green;
  text-decoration: none;
}

a:hover {
  color: $italy-red;
  text-decoration: underline;
}
