---
---

@import "{{ site.theme }}";
.page-header .project-tagline {
  font-size: 1.2rem; // bigger than default
  font-weight: 500;
  opacity: 1;        // remove faded look
}
.main-content {
  text-align: justify;
  table {
  font-size: 14px;
  }
}
$italy-white: #F4F9FF;
$italy-green: #008C45;
$italy-red: #CD212A;

.page-header {
  color: #fff;
  text-align: center;
  background-color:#e85c05;
  background-image: linear-gradient(
    120deg,
    $italy-green 0%,
    $italy-white 45%,
    $italy-white 60%,
    $italy-red 100%
  );
  color: #222;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.4);
}


.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $italy-green;
}

a {
  color: $italy-green;
  text-decoration: none;
}

a:hover {
  color: $italy-red;
  text-decoration: underline;
}

ul.hand-list li::marker {
  content: "👉";      /* or ► */
  color: #008C45;     /* Italian green */
  font-size: 1.2em;
  width: 1.5em;      /* space between hand and text */
    margin-right: 0.5em; /* extra gap if needed */
}


/* Header layout */
.header-with-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  text-align: left;
  flex-wrap: wrap;
}

/* Keep logos together */
.logo-group {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Workshop logo */
.workshop-logo {
  width: 110px;
  height: auto;
}

/* IEEE logo */
.ieee-logo {
  width: 140px;
  height: auto;

  /* optional: white background if needed */
  /* background: white;
     padding: 6px;
     border-radius: 6px; */
}


/* Text block */
.header-text h1 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  color: $italy-green;
}

.header-text h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: $italy-green;
}

/* Mobile */
@media screen and (max-width: 700px) {

  .header-with-logo {
    flex-direction: column;
    text-align: center;
  }

  .logo-group {
    justify-content: center;
  }

  .workshop-logo {
    width: 80px;
  }

  .ieee-logo {
    width: 110px;
  }
}


.project-tagline {
  margin-bottom: 0;
}

.project-name {
  margin-bottom: 0;
  margin-top: 0;
}

.page-header {
  padding-top: 2.5rem;
  padding-bottom: 0;
}

.project-tagline::after {
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  margin: 1rem auto 0 auto;

  background: url("{{site.logo_url}}");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
